.alert-success {
    background-color: rgb(236, 235, 240)
}

.alert-warning {
    background-color: rgb(243, 239, 239);
}

.alert-danger {
    background-color: rgb(245, 244, 244);
}

.alert-info {
    background-color: rgb(241, 245, 245);
}
nav li{

    display: inline; 
    padding: 1%;

}

nav ul{ 
    text-align: center;

}

nav li a{
    display: inline;
    color: rgb(84, 136, 139);
    font-size: 1.2em;
}

body{
    background-color: rgb(72, 108, 119);
    color: rgb(255, 255, 255);
}